/My project/.vsconfig
/My project/Library
/My project/Temp
/My project/UserSettings
/My project/obj
/My project/*.csproj
/My project/.vs
/Unity/.vs
/Unity/*.vsconfig
/Unity/*.csproj
/Unity/Library
/Unity/Logs
/Unity/obj
/Unity/Temp
/Unity/UserSettings
/Unity/*.sln
/Unity/debug.log
/StatisticCodeGenerator/StatisticCodeGeneratorSolution/.vs
/StatisticCodeGenerator/StatisticCodeGeneratorSolution/StatisticCodeGenerator/bin
/StatisticCodeGenerator/StatisticCodeGeneratorSolution/StatisticCodeGenerator/obj
