/My project/.vsconfig
/My project/Library
/My project/Temp
/My project/UserSettings
/My project/obj
/My project/*.csproj
/My project/.vs
/Unity/.vs
/Unity/*.vsconfig
/Unity/*.csproj
/Unity/Library
/Unity/Logs
/Unity/obj
/Unity/Temp
/Unity/UserSettings
/Unity/*.sln
/Unity/debug.log
/StatisticCodeGenerator/StatisticCodeGeneratorSolution/.vs
/StatisticCodeGenerator/StatisticCodeGeneratorSolution/StatisticCodeGenerator/bin
/StatisticCodeGenerator/StatisticCodeGeneratorSolution/StatisticCodeGenerator/obj
/Unity2/Library
/Unity2/Logs
/Unity2/obj
/Unity2/*.sln
/Unity2/*.csproj
/Unity2/*.vsconfig
/Unity2/.vs
/Unity2/Temp
/Unity2/UserSettings
